/* 全体のスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, main, footer {
  padding: 20px;
}

/* ヘッダーのスタイル */
header {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

.userActions a {
  margin-left: 10px;
}

/* 新規登録,ログイン,商品登録のスタイル */
.title {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.userActions {
  display: flex;
  align-items: center;
}

.item_like,
.item_register,
.registerLink,
.loginLink {
  padding: 5px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
}

/* 商品検索機能、画像、名前、相場、状態のスタイル */
.searchResults{
  margin-top: 10px;
}

.itemList2,
.itemList3,
.itemList4,
.itemList5 {
  padding: 5px;
  display: inline-block;
  margin-top: 10px;
  width: fit-content;
}

.itemList2 {
  background-color: #ff7f50;
}

.itemList3 {
  background-color: #4CAF50;
}

.itemList4 {
  background-color: #87ceeb;
}

.itemList5 {
  background-color: #a9a9a9;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.img {
  display: flex;
  flex-direction: column;
  color: white;
}


/* 保存一覧のスタイル */
.item_like_list {
  background-color: #4CAF50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.item_like_list_path {
  text-decoration: none;
  font-size: 40px;
  color: white;
  display: inline-block;
}